# Зависимости
node_modules/

# Сборка
dist/
dist-ssr/
dev-dist/
build/

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Окружение
.env
.env.local
.env.*.local

# Редакторы / ОС
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Кэши
.cache/
coverage/
.vite/
